# Python
__pycache__/
*.py[cod]
*.so

# Django
*.log
*.pot
*.pyc
*.pyo
*.db
*.sqlite3
media/
staticfiles/

# Virtual environments
venv/
ENV/
env/
.venv/

# Environment files
.env
*.env

# VSCode / IDE
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# Build/Deploy Artifacts
django-backend.zip
node_modules/
