/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  position: sticky;
  top: 0;
  z-index: 1000;
  background: rgba(15, 32, 39, 0.8);
  backdrop-filter: blur(10px);
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: #61dafb;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

.navbar li {
  cursor: pointer;
  transition: 0.3s;
}

.navbar li:hover,
.navbar .active {
  color: #ff00cc;
}